body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: ComicNeue, serif;
}

@font-face {
    font-family: 'ComicNeue';
    src: url(assets/fonts/comic-neue/ComicNeue-Regular.ttf);
    src: url(assets/fonts/comic-neue/ComicNeue-Bold.ttf);
}

.header {
    display: flex;
    background-color: #fff;
    justify-content: space-evenly;
    align-items: center;
;
}

.nav-icon {
    height: 20px;
    width: 20px;
}

.nav-list {
    text-align: center;
}


li {
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding: 0 20px;
}

.header-button {
    background-color: #5086dc;
    color: #fff;
    font-family: ComicNeue, serif;
    width: 75px;
    height: 20px;
    box-shadow: 0px 2px 2px 0px rgba(109, 150, 216, 0.75);
    border-radius: 5px;
    border: none;
}

/*LANDING VIDEO*/

.video-landing {
    position: relative;
}

.video-title {
    margin: auto;
    position: absolute;
}

.main-title {
    width: 500px;
}

.subtitle {
    width: 200px;
}

/*wtf?*/
.video {
    width: 100%;
}